# Node environment - "production" (default) or "development"
# NODE_ENV=production

# Log level to use, default "info" in production and "debug" in development
# See https://github.com/pinojs/pino
# LOG_LEVEL=info

# Port to listen on, default 3000
# PORT=3000

# URL pointing to the location of the database
# See https://www.prisma.io/docs/reference/database-reference/connection-urls#format
# DATABASE_URL=postgresql://user:password@host/database

# E-mail sending with nodemailer; see https://nodemailer.com/smtp/#general-options
# NODEMAILER_HOST=
# NODEMAILER_PORT=25
# NODEMAILER_USER=
# NODEMAILER_PASS=
# NODEMAILER_SECURE=false
